html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #05070d;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.transparent {
  background: transparent;
}
#scene {
  display: block;
}
